body {
    background-color: royalblue;
    min-height: 100vh;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: seashell;
}
nav {
    position: fixed;
}
.nav {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.nav__knop {
    padding: .5em .9em;
    box-sizing: border-box;
    width: 2.7em;
}
.nav__knop:hover {
    color: royalblue;
    background-color: seashell;
}
.nav__item {
    margin-bottom: .1em;
}
.nav__link {
    color: royalblue;
    background-color: seashell;
    text-decoration: none;
    display: block;
    padding: .2em .8em;
    transform: translateX(-8.4em);
    transition: transform .8s ease-in-out;
}
.nav__link--push-in {
    transform: translateX(0);
}
.nav__link:hover {
    background-color: slateblue;
    color: seashell;
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.square {
    background-color: seashell;
    width: 15vw;
    height: 15vw;
    transform: translateX(1);
    transition: transform 1s cubic-bezier(0.955, 0.330, 0.215, 0.755);
}
.square__to-right {
    transform: translateX(60vw) rotate(90deg);
}
.animate-button {
    height: 1.5em;
}