body {
    background-color: royalblue;
    min-height: 100vh;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: seashell;
}
nav {
    position: fixed;
}
.nav {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.nav__button {
    padding: .5em .9em;
    box-sizing: border-box;
    width: 2.7em;
}
.nav__knop:hover {
    color: royalblue;
    background-color: seashell;
}
.nav__item {
    margin-bottom: .1em;
}
.nav__link {
    color: royalblue;
    background-color: seashell;
    text-decoration: none;
    display: block;
    padding: .2em .8em;
    transform: translateX(-8.4em);
    transition: transform .8s ease-in-out;
}
.nav__link--push-in {
    transform: translateX(0);
}
.nav__link:hover {
    background-color: slateblue;
    color: seashell;
}
/* Perfexting the animation by animating the text of the link */
.nav__link--push-in .nav__text {
    animation: ijl-na 2s forwards;
}
@keyframes ijl-na {
    0% {transform: translateX(-1.5em);}
    50% {transform: translateX(0.6em);}
    75% {transform: translateX(-0.4em);}
    100% {transform: translateX(0);}
}
/* Mediaquery for nav */
@media screen and (min-width: 700px) {
    .nav {
        flex-direction: row;
        width: 100vw;
    }
    .nav__item {
        margin-top: 0;
        margin-left: .1em;
        flex: 1 0 auto;
    }
    .nav__link {
        transform: translateY(-2em);
    }
    .nav__link--push-in {
        transform: translateY(0);
    }
    /* Perfecting nav animation */
    .nav__link--push-in .nav__text {
        animation: ijl-na-vert 2s forwards;
    }
    @keyframes ijl-na-vert {
        0% {transform: translateY(-.1em);}
        50% {transform: translateY(0.1em);}
        75% {transform: translateY(-0.05em);}
        100% {transform: translateY(0);}
    }
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.square {
    background-color: seashell;
    width: 15vw;
    height: 15vw;
    transform: translateX(1);
    transition: transform 1s cubic-bezier(0.955, 0.330, 0.215, 0.755);
}
.square__to-right {
    transform: translateX(60vw) rotate(90deg);
}
.animate-button {
    height: 1.5em;
}
/* Hide the bars or the close icons */
.fas.hide {
    display: none;
}